<p style="color: green"><%= notice %></p>

<h1>Warships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Captain</th>
      <th>Pilot number</th>
      <th>Created by</th>
    </tr>
  </thead>

  <tbody>
    <% @warships.each do |warship| %>
      <tr>
        <td><%= link_to warship.name, warship %></td>
        <td>
          <% if warship.captain.present? %>
            <%= link_to warship.captain.name, warship.captain %>
          <% else %>
            No captain
          <% end %>
        </td>
        <td><%= warship.pilot_assignments.count %></td>
        <td><%= warship.user&.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New warship", new_warship_path %>
</p>