<p style="color: green"><%= notice %></p>

<h1><%= @warship.name %></h1>

<h2>Captain</h2>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
    <% if @warship.captain.present? %>
      <tr>
        <td>
          <% if @warship.captain.image.attached? %>
            <%= link_to @warship.captain do %>
              <%= image_tag @warship.captain.image, width: 100 %>
            <% end %>
          <% else %>
            No image
          <% end %>
        </td>
        <td><%= @warship.captain.name %></td>
        <td><%= @warship.captain.gender %></td>
        <td><%= @warship.captain.rank %></td>
      </tr>
    <% else %>
      <tr>
        <td colspan="4">No captain</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Pilots</h2>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Mobile suit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @warship.pilot_assignments.each do |pilot_assignment| %>
      <tr>
        <td>
          <% if pilot_assignment.crew_member.image.attached? %>
            <%= link_to pilot_assignment.crew_member do %>
              <%= image_tag pilot_assignment.crew_member.image, width: 100 %>
            <% end %>
          <% else %>
            No image
          <% end %>
        </td>
        <td><%= pilot_assignment.crew_member.name %></td>
        <td><%= pilot_assignment.crew_member.gender %></td>
        <td><%= pilot_assignment.crew_member.rank %></td>
        <td>
          <% if pilot_assignment.mobile_suit.present? && pilot_assignment.mobile_suit.image.attached? %>
            <%= link_to edit_pilot_assignment_path(pilot_assignment) do %>
              <%= image_tag pilot_assignment.mobile_suit.image, width: 100 %>
            <% end %>
          <% elsif pilot_assignment.mobile_suit.present? %>
            <%= link_to pilot_assignment.mobile_suit.name, edit_pilot_assignment_path(pilot_assignment) %>
          <% else %>
            <%= link_to "Not assigned", edit_pilot_assignment_path(pilot_assignment) %>
          <% end %>
        </td>
        <td>
          <%= button_to "Delete", pilot_assignment_path(pilot_assignment), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New pilot assignment", new_pilot_assignment_path(warship_id:@warship.id)%>

<div>
  <%= link_to "Edit this warship", edit_warship_path(@warship) %> |
  <%= link_to "Back to warships", warships_path %>

  <%= button_to "Destroy this warship", @warship, method: :delete %>
</div>