<div id="<%= dom_id crew_member %>">
  <div>
    <strong>Name:</strong>
    <%= crew_member.name %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= crew_member.gender %>
  </div>

  <div>
    <strong>Rank:</strong>
    <%= crew_member.rank %>
  </div>

  <div>
    <strong>Role type:</strong>
    <%= crew_member.role_type %>
  </div>

</div>
