<%= form_with(model: crew_member) do |form| %>
  <% if crew_member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crew_member.errors.count, "error") %> prohibited this crew_member from being saved:</h2>

      <ul>
        <% crew_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, [
      ["男性", "男性"],
      ["女性", "女性"],
      ["その他", "その他"]
    ] %>
  </div>

  <div>
    <%= form.label :rank, style: "display: block" %>
    <%= form.select :rank, [
      ["民間人", "民間人"],
      ["伍長", "伍長"],
      ["軍曹", "軍曹"],
      ["曹長", "曹長"],
      ["少尉", "少尉"],
      ["中尉", "中尉"],
      ["大尉", "大尉"],
      ["少佐", "少佐"],
      ["中佐", "中佐"],
      ["大佐", "大佐"]
    ] %>
  </div>

  <div>
    <%= form.label :role_type, style: "display: block" %>
    <%= form.select :role_type, [
      ["Captain only", "captain_only"],
      ["Pilot only", "pilot_only"],
      ["Captain and pilot", "captain_and_pilot"]
    ] %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
