<%= form_with(model: pilot_assignment) do |form| %>
  <% if pilot_assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pilot_assignment.errors.count, "error") %> prohibited this pilot_assignment from being saved:</h2>

      <ul>
        <% pilot_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :warship_id, style: "display: block" %>
    <%= form.text_field :warship_id %>
  </div>

  <div>
    <%= form.label :crew_member_id, style: "display: block" %>
    <%= form.text_field :crew_member_id %>
  </div>

  <div>
    <%= form.label :mobile_suit_id, style: "display: block" %>
    <%= form.number_field :mobile_suit_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
