<%= form_with(model: pilot_assignment) do |form| %>
  <% can_submit = true %>

  <% if pilot_assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pilot_assignment.errors.count, "error") %> prohibited this pilot_assignment from being saved:</h2>

      <ul>
        <% pilot_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :warship_id, style: "display: block" %>
    <%= form.hidden_field :warship_id %>
    <%= pilot_assignment.warship&.name || "No warship selected" %>
  </div>

  <% if pilot_assignment.new_record? %>
    <% if pilot_assignment.warship.present? %>
      <% hired_crew_member_ids = pilot_assignment.warship.pilot_assignments.select(:crew_member_id) %>
      <% available_crew_members = CrewMember.where(role_type: ["pilot_only", "captain_and_pilot"]).where.not(id: hired_crew_member_ids) %>

      <div>
        <%= form.label :crew_member_id, "Pilot", style: "display: block" %>
        <% if available_crew_members.any? %>
          <%= form.collection_select :crew_member_id,
            available_crew_members,
            :id,
            :name
          %>
        <% else %>
          <% can_submit = false %>
          <p>All available pilots have already been hired.</p>
        <% end %>
      </div>
    <% else %>
      <% can_submit = false %>
      <p>Please start from a warship page.</p>
    <% end %>
  <% else %>
    <div>
      <strong>Pilot:</strong>
      <%= pilot_assignment.crew_member.name %>
    </div>

    <div>
      <%= form.label :mobile_suit_id, "Mobile suit", style: "display: block" %>
      <%= form.collection_select :mobile_suit_id,
        pilot_assignment.warship.mobile_suits,
        :id,
        :name,
        include_blank: "Not assigned"
      %>
    </div>
  <% end %>

  <% if can_submit %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
